@charset "unicode";
@font-face {
  font-family: "asteain";
  src: url("asteain.woff");
}

:root {
  --w: 40;
}
body {
  font-family: "asteain";
  display: flex;
  flex-direction: column;
  align-items: center;
}
textarea {
  font-family: "asteain";
  width: 80%;
  height: 100px;
  margin: 10px;
  font-size: 40px;
}
.vertical-text {
  writing-mode: vertical-lr;
  text-orientation: upright;
}
.vertical_keyboard {
  font-family: "asteain";
  writing-mode: vertical-lr;
}
.labels {
    writing-mode: horizontal-tb;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
  }
.button-container_6 {
  display: grid;
  grid-auto-rows: 40px;
  grid-gap: 5px;
  grid-template-columns: repeat(6, 40px);
}
.button-container_11 {
    display: grid;
    grid-auto-rows: 40px;
    grid-gap: 5px;
    grid-template-columns: repeat(11, 40px);
  }
.button {
  writing-mode: horizontal-tb;
  font-family: "asteain";
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(var(--w) * 1px);/*数値設定の最小値は16*/
  height: 40px;
  font-size: 40px;
}
.spacer {
  margin-right: 10px;
  display: block;
}
.functionButton {
  writing-mode: horizontal-tb;
  align-items: left;
  width: calc(var(--w) * 1px);/*数値設定の最小値は16*/
  height: 40px;
  padding: 0px;
}
.flexibleSpacer {
  margin-right: calc(var(--w) * 1px);/*数値設定の最小値は16*/
  display: block;
}
.keyboardRow {
  display: flex;
  margin-bottom: 5px;
  height:40px;
}
.tall-key {
  height: 85px;
}
